* {
	border:        none;
	border-radius: 0;
	box-shadow:    none;
	text-shadow:   none;
	transition-duration: 0s;
}

window {
	color: #ebdbb2;
	background: rgba(28, 28, 28, 1);
	border-bottom: 1px solid rgba(104, 104, 104, 1);
	font-family: Cantarell, Noto Sans, sans-serif;
	font-weight: bold;
	font-size: 13px;
}

window#waybar.solo {
  color: #ebdbb2;
  background: rgba(35, 31, 32, 0.85);
  border-bottom: none; 
}

/*---------------- Workspaces decoration ----------------*/
#workspaces {
	margin: 0;
}

#workspaces button {
	padding:    5px;
	color:      rgba(217, 216, 216, 0.4);
}

#workspaces button.visible {
	color:     #ebdbb2;
}

#workspaces button.focused {
	border-top: 3px solid rgba(217, 216, 216, 1);
	border-bottom: 3px solid rgba(217, 216, 216, 0);
}

#workspaces button.urgent {
	color:      rgba(238, 46, 36, 1);
}

/*---------------- General decoration ----------------*/
#mode, #battery, #cpu, #memory, #network, #pulseaudio, #backlight, #custom-storage, #custom-spotify, #clock.time, #tray {
	margin:     1px 8px 0px 8px;
	min-width:  25px;
	padding-bottom: 2px;
	color: #ebdbb2;
}

#custom-menu{	
	color:    	rgb(96, 187, 192);
	padding:    0px 5px 0px 0px;
	min-width:  5px;
	border: 2px solid rgba(104, 104, 104, 1);
	border-bottom: none;
	min-width: 25px;
	padding-bottom: 1px;
}

#custom-playerctl {
	color: #79da7a;
}

#clock.date {
	margin:     0px 6px 0px 6px;
	min-width: 25px;
	padding-bottom: 2px;
}

/*---------------- Battery decoration ----------------*/
#battery.warning {
 color: orange;
}

#battery.critical {
	color: rgba(238, 46, 36, 1);
}

#battery.charging {
	color: #79da7a;
}

/*---------------- Storage decoration ----------------*/
#custom-storage.warning {
	color: rgba(255, 210, 4, 1);
}

#custom-storage.critical {
	color: rgba(238, 46, 36, 1);
}

/*---------------- CPU decoration ----------------*/

#cpu.moderate {
	color: rgb(231, 169, 44);
}

#cpu.warning {
	color: #f07c2e;
}

#cpu.critical {
	color: rgb(204,36,29);
}

/*---------------- Memory decoration ----------------*/
#memory.moderate {
	color: rgb(231, 169, 44);
}

#memory.warning {
	color: #f07c2e;
}

#memory.critical {
	color: rgb(204,36,29);
}
